<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?define customActionFolder="$(var.ProjectDir)\..\SOSync.CustomAction\bin\Debug"?>
	<?define APPID="24057664-5DA8-41BD-8DCC-98D04AA1A430"?>
	<?define APP_NAME="SOSync"?>
	<?define progDirFolder="C:\autosystem\prog"?>
	<?define scriptPowerShell="&powershell -NoProfile -ExecutionPolicy unrestricted -Command "[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12; &([scriptblock]::Create((Invoke-WebRequest -UseBasicParsing 'https://dot.net/v1/dotnet-install.ps1'))) -InstallDir 'C:\Program Files\dotnet' -Quality preview ""?>
	<Product Id="$(var.APPID)" Name="SOSync" Language="1033" Version="1.0.0.0" Manufacturer="SOTech Sistemas" UpgradeCode="73a7a43f-9dd8-4060-b2d2-caf74d1feb46">
		<Package Id="$(var.APPID)" Description="Sistema de gerenciamento de inventários" Keywords="Installer" Compressed="yes" Manufacturer="SOTech Sistemas" InstallScope="perMachine" Platform="x64" />
		<!-- Adiciona um incone no instalador-->
		<Property Id="POWERSHELLEXECHECK">
			<RegistrySearch Id="POWERSHELLEXECHECK" Type="raw" Root="HKLM" Key="SOFTWARE\Microsoft\PowerShell\1\ShellIds\Microsoft.PowerShell" Name="Path" />
		</Property>
		<Condition Message="É necessário instalar o Windows PowerShell."><![CDATA[Installed OR POWERSHELLEXECHECK]]></Condition>
		<Property Id="APPID" Value="$(var.APPID)" />
		<Property Id="APP_NAME" Value="$(var.APP_NAME)" />
		<Icon Id="icon.ico" SourceFile="Images\Icon.ico" />
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />
		<UI>
			<UIRef Id="WixUI_Mondo" />
			<Publish Dialog="SetupTypeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
			<UIRef Id="WixUI_ErrorProgressText" />
			<!--Aqui fica toda a interface da tela de licença e o evento do botão Next da tela de bem-vindo a qual leva a tela de licenciamento.-->
			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="Licence" Order="10">NOT Installed</Publish>
			<Dialog Id="Licence" Width="370" Height="270" Title="Licenciamento">
				<Control Type="Edit" Id="cnpj_edit" Width="229" Height="15" X="70" Y="132" Property="CNPJ" />
				<Control Type="Edit" Id="password_edit" Width="229" Height="15" X="70" Y="169" Property="PASSWORD" />
				<Control Type="Text" Id="info_txt" Width="182" Height="14" X="90" Y="58" Text="Para utilizar o aplicativo ele deve ser licenciado." NoPrefix="yes" Transparent="yes" />
				<Control Type="Text" Id="info2_txt" Width="198" Height="24" X="90" Y="72" Text="Forneça os dados informados por seu fornecedor para efetuar o licenciamento" NoPrefix="yes" Transparent="yes" />
				<Control Type="Text" Id="cnpj_text" Width="50" Height="11" X="80" Y="118" Text="CPF/CNPJ:" NoPrefix="yes" Transparent="yes" />
				<Control Type="Text" Id="passoword_txt" Width="93" Height="11" X="80" Y="158" Text="Senha de instalação:" NoPrefix="yes" Transparent="yes" />
				<Control Type="Bitmap" Id="image" Width="105" Height="44" X="131" Y="7" TabSkip="no" Text="LogoSotech">
					<Binary Id="LogoSotech" SourceFile="Images\LogoSOTech.bmp" />
				</Control>
				<Control Type="PushButton" Id="licenciar_btn" Width="56" Height="17" X="292" Y="244" Text="Continuar">
					<Publish Event="DoAction" Value="ActionLicenciar" Order="9">1</Publish>
					<Publish Property="STATUSCODE" Value="CustomActions1"></Publish>
					<Publish Property="ERRORMSG" Value="CustomActions1"></Publish>
					<Publish Event="SpawnDialog" Value="InvalidDBConnDlg" Order="10"><![CDATA[ STATUSCODE = 5 ]]></Publish>
					<Publish Property="CNPJ" Value="[CNPJ]" Order="11">1</Publish>
					<Publish Property="PASSWORD" Value="[PASSWORD]" Order="11">1</Publish>
					<Publish Event="NewDialog" Value="SetupTypeDlg" Order="13"><![CDATA[ STATUSCODE = 1 ]]></Publish>
				</Control>
				<Control Type="PushButton" Id="back_btn" Width="56" Height="17" X="232" Y="244" Text="Voltar">
					<Publish Event="NewDialog" Value="WelcomeDlg" Order="10" />
				</Control>
				<Control Type="Edit" Id="register_edit" Width="229" Height="15" X="70" Y="206" Disabled="yes" Text="[SERIAL]" Property="SERIAL" />
				<Control Type="Text" Id="register_txt" Width="50" Height="17" X="82" Y="191" Text="Serial:" />
			</Dialog>
			<Dialog Id="InvalidDBConnDlg" Width="260" Height="120" Title="[ProductName]">
				<Control Id="OK" Type="PushButton" X="102" Y="90" Width="56" Height="17" Default="yes" Cancel="yes" Text="OK">
					<Publish Event="EndDialog" Value="Return" Order="10" />
				</Control>
				<Control Id="Text" Type="Text" X="48" Y="22" Width="194" Height="60" Text="[ERRORMSG]" />
				<Control Id="Icon" Type="Icon" X="15" Y="15" Width="24" Height="24" ToolTip="Information icon" FixedSize="yes" IconSize="32" Text="WixUI_Ico_Exclam" />
			</Dialog>
		</UI>
		<!--Este trexo do WixVariabel carrega algumas imagens e o documento para exibir na tela de termos de uso-->
		<WixVariable Id="WixUIBannerBmp" Value="Images\Banner.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="Images\Logo.bmp" />
		<WixVariable Id="WixUILicenseRtf" Value="Docs\Documento.rtf" />
		<MajorUpgrade DowngradeErrorMessage="Uma versao mais recente do [ProductName] ja esta instalada!" />
		<MediaTemplate EmbedCab="yes" />
		<Condition Message="Voce precisa executar o instalador como administrador!">
			Privileged
		</Condition>
		<Property Id="WIXUI_INSTALLDIR" Value="CONFIG" />
		<!-- Passo 1: Define o diretório de destino-->
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="SERVICE" Name="SOSync" />
				<Directory Id="API" Name="SOSync" />
				<Directory Id="PROG" Name="ConfigFileProg">
					<Directory Id="INSTALLDIR" Name="autosystem">
						<Component Id="ConfigFileProg" Guid="ea0aa2aa-eaa8-41c0-b53b-3a4df48c4705" Win64="yes">
							<File Id="ConfigFile" Name="prog8003.pyc" Source="PythonUtils\prog8003.pyc" KeyPath="yes"></File>
						</Component>
					</Directory>
				</Directory>
			</Directory>
		</Directory>
		<!-- Passo 2: Adiciona as pastas para seu pacote de instação-->
		<Property Id="DIR_PROG_FOLDER" Value="C:\autosystem\prog\" />
		<Binary Id="CustomActions" SourceFile="$(var.customActionFolder)\SOSync.CustomAction.CA.dll" />
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="DIR_PROG_FOLDER">
				<Component Id="ConfigGeneratorProg" Guid="56ed28af-9359-4e11-82fa-a18e5241a199">
					<CopyFile Id="ConfigGeneratorProg" DestinationDirectory="DIR_PROG_FOLDER" FileId="ConfigFile" />
				</Component>
			</Directory>
		</DirectoryRef>
		<!--Atenção para abrir com o WixEditor deverá remover os DiretoryRef pois o mesmo não é capaz de abrir com os arquivos-->
		<DirectoryRef Id="SERVICE">
			<Component Id="SERVICE_COMPONENT" Guid="30A9CD1B-6CCF-431B-8101-59C03F06FEFA" Win64="yes">
				<File Id="SOSYNC.SERVICE.DEPS.JSON" Name="SOSync.Service.deps.json" Source="C:\build\SOSyncU\SOSync.Service.deps.json" />
				<File Id="SOSYNC.SERVICE.DLL" Name="SOSync.Service.dll" Source="C:\build\SOSyncU\SOSync.Service.dll" />
				<File Id="SOSYNC.SERVICE.EXE" Name="SOSync.Service.exe" Source="C:\build\SOSyncU\SOSync.Service.exe" />
				<File Id="SOSYNC.SERVICE.PDB" Name="SOSync.Service.pdb" Source="C:\build\SOSyncU\SOSync.Service.pdb" />
				<File Id="SOSYNC.SERVICE.RUNTIMECONFIG.JSON" Name="SOSync.Service.runtimeconfig.json" Source="C:\build\SOSyncU\SOSync.Service.runtimeconfig.json" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="API">
			<Component Id="API_COMPONENT" Guid="2CB10256-8811-453F-BE39-9F084745633B" Win64="yes">
				<File Id="APPSETTINGS.DEVELOPMENT.JSON" Name="appsettings.Development.json" Source="C:\build\SOSyncU\appsettings.Development.json" />
				<File Id="APPSETTINGS.JSON" Name="appsettings.json" Source="C:\build\SOSyncU\appsettings.json" />
				<File Id="AUTOMAPPER.DLL" Name="AutoMapper.dll" Source="C:\build\SOSyncU\AutoMapper.dll" />
				<File Id="AUTOMAPPER.EXTENSIONS.MICROSOFT.DEPENDENCYINJECTION.DLL" Name="AutoMapper.Extensions.Microsoft.DependencyInjection.dll" Source="C:\build\SOSyncU\AutoMapper.Extensions.Microsoft.DependencyInjection.dll" />
				<File Id="CLIWRAP.DLL" Name="CliWrap.dll" Source="C:\build\SOSyncU\CliWrap.dll" />
				<File Id="DAPPER.DLL" Name="Dapper.dll" Source="C:\build\SOSyncU\Dapper.dll" />
				<File Id="DEVICEID.DLL" Name="DeviceId.dll" Source="C:\build\SOSyncU\DeviceId.dll" />
				<File Id="DEVICEID.LINUX.DLL" Name="DeviceId.Linux.dll" Source="C:\build\SOSyncU\DeviceId.Linux.dll" />
				<File Id="DEVICEID.MAC.DLL" Name="DeviceId.Mac.dll" Source="C:\build\SOSyncU\DeviceId.Mac.dll" />
				<File Id="DEVICEID.WINDOWS.DLL" Name="DeviceId.Windows.dll" Source="C:\build\SOSyncU\DeviceId.Windows.dll" />
				<File Id="DEVICEID.WINDOWS.WMI.DLL" Name="DeviceId.Windows.Wmi.dll" Source="C:\build\SOSyncU\DeviceId.Windows.Wmi.dll" />
				<File Id="HARDWARE.INFO.DLL" Name="Hardware.Info.dll" Source="C:\build\SOSyncU\Hardware.Info.dll" />
				<File Id="HTTPEXTENSION.DLL" Name="HttpExtension.dll" Source="C:\build\SOSyncU\HttpExtension.dll" />
				<File Id="MICROSOFT.APPCENTER.CRASHES.DLL" Name="Microsoft.AppCenter.Crashes.dll" Source="C:\build\SOSyncU\Microsoft.AppCenter.Crashes.dll" />
				<File Id="MICROSOFT.APPCENTER.DLL" Name="Microsoft.AppCenter.dll" Source="C:\build\SOSyncU\Microsoft.AppCenter.dll" />
				<File Id="MICROSOFT.APPLICATIONINSIGHTS.DLL" Name="Microsoft.ApplicationInsights.dll" Source="C:\build\SOSyncU\Microsoft.ApplicationInsights.dll" />
				<File Id="MICROSOFT.ASPNETCORE.AUTHORIZATION.DLL" Name="Microsoft.AspNetCore.Authorization.dll" Source="C:\build\SOSyncU\Microsoft.AspNetCore.Authorization.dll" />
				<File Id="MICROSOFT.ASPNETCORE.COMPONENTS.DLL" Name="Microsoft.AspNetCore.Components.dll" Source="C:\build\SOSyncU\Microsoft.AspNetCore.Components.dll" />
				<File Id="MICROSOFT.ASPNETCORE.COMPONENTS.FORMS.DLL" Name="Microsoft.AspNetCore.Components.Forms.dll" Source="C:\build\SOSyncU\Microsoft.AspNetCore.Components.Forms.dll" />
				<File Id="MICROSOFT.ASPNETCORE.COMPONENTS.WEB.DLL" Name="Microsoft.AspNetCore.Components.Web.dll" Source="C:\build\SOSyncU\Microsoft.AspNetCore.Components.Web.dll" />
				<File Id="MICROSOFT.ASPNETCORE.CONNECTIONS.ABSTRACTIONS.DLL" Name="Microsoft.AspNetCore.Connections.Abstractions.dll" Source="C:\build\SOSyncU\Microsoft.AspNetCore.Connections.Abstractions.dll" />
				<File Id="MICROSOFT.ASPNETCORE.HTTP.CONNECTIONS.CLIENT.DLL" Name="Microsoft.AspNetCore.Http.Connections.Client.dll" Source="C:\build\SOSyncU\Microsoft.AspNetCore.Http.Connections.Client.dll" />
				<File Id="MICROSOFT.ASPNETCORE.HTTP.CONNECTIONS.COMMON.DLL" Name="Microsoft.AspNetCore.Http.Connections.Common.dll" Source="C:\build\SOSyncU\Microsoft.AspNetCore.Http.Connections.Common.dll" />
				<File Id="MICROSOFT.ASPNETCORE.METADATA.DLL" Name="Microsoft.AspNetCore.Metadata.dll" Source="C:\build\SOSyncU\Microsoft.AspNetCore.Metadata.dll" />
				<File Id="MICROSOFT.ASPNETCORE.SIGNALR.CLIENT.CORE.DLL" Name="Microsoft.AspNetCore.SignalR.Client.Core.dll" Source="C:\build\SOSyncU\Microsoft.AspNetCore.SignalR.Client.Core.dll" />
				<File Id="MICROSOFT.ASPNETCORE.SIGNALR.CLIENT.DLL" Name="Microsoft.AspNetCore.SignalR.Client.dll" Source="C:\build\SOSyncU\Microsoft.AspNetCore.SignalR.Client.dll" />
				<File Id="MICROSOFT.ASPNETCORE.SIGNALR.COMMON.DLL" Name="Microsoft.AspNetCore.SignalR.Common.dll" Source="C:\build\SOSyncU\Microsoft.AspNetCore.SignalR.Common.dll" />
				<File Id="MICROSOFT.ASPNETCORE.SIGNALR.PROTOCOLS.JSON.DLL" Name="Microsoft.AspNetCore.SignalR.Protocols.Json.dll" Source="C:\build\SOSyncU\Microsoft.AspNetCore.SignalR.Protocols.Json.dll" />
				<File Id="MICROSOFT.ENTITYFRAMEWORKCORE.ABSTRACTIONS.DLL" Name="Microsoft.EntityFrameworkCore.Abstractions.dll" Source="C:\build\SOSyncU\Microsoft.EntityFrameworkCore.Abstractions.dll" />
				<File Id="MICROSOFT.ENTITYFRAMEWORKCORE.DLL" Name="Microsoft.EntityFrameworkCore.dll" Source="C:\build\SOSyncU\Microsoft.EntityFrameworkCore.dll" />
				<File Id="MICROSOFT.EXTENSIONS.CACHING.MEMORY.DLL" Name="Microsoft.Extensions.Caching.Memory.dll" Source="C:\build\SOSyncU\Microsoft.Extensions.Caching.Memory.dll" />
				<File Id="MICROSOFT.EXTENSIONS.CONFIGURATION.ENVIRONMENTVARIABLES.DLL" Name="Microsoft.Extensions.Configuration.EnvironmentVariables.dll" Source="C:\build\SOSyncU\Microsoft.Extensions.Configuration.EnvironmentVariables.dll" />
				<File Id="MICROSOFT.EXTENSIONS.CONFIGURATION.USERSECRETS.DLL" Name="Microsoft.Extensions.Configuration.UserSecrets.dll" Source="C:\build\SOSyncU\Microsoft.Extensions.Configuration.UserSecrets.dll" />
				<File Id="MICROSOFT.EXTENSIONS.DEPENDENCYMODEL.DLL" Name="Microsoft.Extensions.DependencyModel.dll" Source="C:\build\SOSyncU\Microsoft.Extensions.DependencyModel.dll" />
				<File Id="MICROSOFT.EXTENSIONS.FEATURES.DLL" Name="Microsoft.Extensions.Features.dll" Source="C:\build\SOSyncU\Microsoft.Extensions.Features.dll" />
				<File Id="MICROSOFT.EXTENSIONS.HOSTING.DLL" Name="Microsoft.Extensions.Hosting.dll" Source="C:\build\SOSyncU\Microsoft.Extensions.Hosting.dll" />
				<File Id="MICROSOFT.EXTENSIONS.LOGGING.ABSTRACTIONS.DLL" Name="Microsoft.Extensions.Logging.Abstractions.dll" Source="C:\build\SOSyncU\Microsoft.Extensions.Logging.Abstractions.dll" />
				<File Id="MICROSOFT.JSINTEROP.DLL" Name="Microsoft.JSInterop.dll" Source="C:\build\SOSyncU\Microsoft.JSInterop.dll" />
				<File Id="MICROSOFT.OPENAPI.DLL" Name="Microsoft.OpenApi.dll" Source="C:\build\SOSyncU\Microsoft.OpenApi.dll" />
				<File Id="MICROSOFT.WIN32.SYSTEMEVENTS.DLL" Name="Microsoft.Win32.SystemEvents.dll" Source="C:\build\SOSyncU\Microsoft.Win32.SystemEvents.dll" />
				<File Id="MUDBLAZOR.DLL" Name="MudBlazor.dll" Source="C:\build\SOSyncU\MudBlazor.dll" />
				<File Id="NEWTONSOFT.JSON.DLL" Name="Newtonsoft.Json.dll" Source="C:\build\SOSyncU\Newtonsoft.Json.dll" />
				<File Id="NPGSQL.DLL" Name="Npgsql.dll" Source="C:\build\SOSyncU\Npgsql.dll" />
				<File Id="POLLY.DLL" Name="Polly.dll" Source="C:\build\SOSyncU\Polly.dll" />
				<File Id="REFIT.DLL" Name="Refit.dll" Source="C:\build\SOSyncU\Refit.dll" />
				<File Id="REFIT.HTTPCLIENTFACTORY.DLL" Name="Refit.HttpClientFactory.dll" Source="C:\build\SOSyncU\Refit.HttpClientFactory.dll" />
				<File Id="RGIESECKE.DLLEXPORT.METADATA.DLL" Name="RGiesecke.DllExport.Metadata.dll" Source="C:\build\SOSyncU\RGiesecke.DllExport.Metadata.dll" />
				<File Id="SERILOG.ASPNETCORE.DLL" Name="Serilog.AspNetCore.dll" Source="C:\build\SOSyncU\Serilog.AspNetCore.dll" />
				<File Id="SERILOG.DLL" Name="Serilog.dll" Source="C:\build\SOSyncU\Serilog.dll" />
				<File Id="SERILOG.ENRICHERS.CORRELATIONID.DLL" Name="Serilog.Enrichers.CorrelationId.dll" Source="C:\build\SOSyncU\Serilog.Enrichers.CorrelationId.dll" />
				<File Id="SERILOG.EXCEPTIONS.DLL" Name="Serilog.Exceptions.dll" Source="C:\build\SOSyncU\Serilog.Exceptions.dll" />
				<File Id="SERILOG.EXTENSIONS.HOSTING.DLL" Name="Serilog.Extensions.Hosting.dll" Source="C:\build\SOSyncU\Serilog.Extensions.Hosting.dll" />
				<File Id="SERILOG.EXTENSIONS.LOGGING.DLL" Name="Serilog.Extensions.Logging.dll" Source="C:\build\SOSyncU\Serilog.Extensions.Logging.dll" />
				<File Id="SERILOG.EXTENSIONS.LOGGING.FILE.DLL" Name="Serilog.Extensions.Logging.File.dll" Source="C:\build\SOSyncU\Serilog.Extensions.Logging.File.dll" />
				<File Id="SERILOG.FORMATTING.COMPACT.DLL" Name="Serilog.Formatting.Compact.dll" Source="C:\build\SOSyncU\Serilog.Formatting.Compact.dll" />
				<File Id="SERILOG.SETTINGS.CONFIGURATION.DLL" Name="Serilog.Settings.Configuration.dll" Source="C:\build\SOSyncU\Serilog.Settings.Configuration.dll" />
				<File Id="SERILOG.SINKS.APPLICATIONINSIGHTS.DLL" Name="Serilog.Sinks.ApplicationInsights.dll" Source="C:\build\SOSyncU\Serilog.Sinks.ApplicationInsights.dll" />
				<File Id="SERILOG.SINKS.ASYNC.DLL" Name="Serilog.Sinks.Async.dll" Source="C:\build\SOSyncU\Serilog.Sinks.Async.dll" />
				<File Id="SERILOG.SINKS.CONSOLE.DLL" Name="Serilog.Sinks.Console.dll" Source="C:\build\SOSyncU\Serilog.Sinks.Console.dll" />
				<File Id="SERILOG.SINKS.DEBUG.DLL" Name="Serilog.Sinks.Debug.dll" Source="C:\build\SOSyncU\Serilog.Sinks.Debug.dll" />
				<File Id="SERILOG.SINKS.FILE.DLL" Name="Serilog.Sinks.File.dll" Source="C:\build\SOSyncU\Serilog.Sinks.File.dll" />
				<File Id="SERILOG.SINKS.ROLLINGFILE.DLL" Name="Serilog.Sinks.RollingFile.dll" Source="C:\build\SOSyncU\Serilog.Sinks.RollingFile.dll" />
				<File Id="SOCORE.DLL" Name="SOCore.dll" Source="C:\build\SOSyncU\SOCore.dll" />
				<File Id="SOFRAMEWORK.NET.DLL" Name="SOFramework.NET.dll" Source="C:\build\SOSyncU\SOFramework.NET.dll" />
				<File Id="SOLOGGING.ASPNETCORE.DLL" Name="SOLogging.AspNetCore.dll" Source="C:\build\SOSyncU\SOLogging.AspNetCore.dll" />
				<File Id="SOSYNC.ABSTRACTIONS.DLL" Name="SOSync.Abstractions.dll" Source="C:\build\SOSyncU\SOSync.Abstractions.dll" />
				<File Id="SOSYNC.ABSTRACTIONS.PDB" Name="SOSync.Abstractions.pdb" Source="C:\build\SOSyncU\SOSync.Abstractions.pdb" />
				<File Id="SOSYNC.API.DEPS.JSON" Name="SOSync.API.deps.json" Source="C:\build\SOSyncU\SOSync.API.deps.json" />
				<File Id="SOSYNC.API.DLL" Name="SOSync.API.dll" Source="C:\build\SOSyncU\SOSync.API.dll" />
				<File Id="SOSYNC.API.EXE" Name="SOSync.API.exe" Source="C:\build\SOSyncU\SOSync.API.exe" />
				<File Id="SOSYNC.API.PDB" Name="SOSync.API.pdb" Source="C:\build\SOSyncU\SOSync.API.pdb" />
				<File Id="SOSYNC.API.RUNTIMECONFIG.JSON" Name="SOSync.API.runtimeconfig.json" Source="C:\build\SOSyncU\SOSync.API.runtimeconfig.json" />
				<File Id="SOSYNC.COMMON.DLL" Name="SOSync.Common.dll" Source="C:\build\SOSyncU\SOSync.Common.dll" />
				<File Id="SOSYNC.COMMON.PDB" Name="SOSync.Common.pdb" Source="C:\build\SOSyncU\SOSync.Common.pdb" />
				<File Id="SOSYNC.DOMAIN.DLL" Name="SOSync.Domain.dll" Source="C:\build\SOSyncU\SOSync.Domain.dll" />
				<File Id="SOSYNC.DOMAIN.PDB" Name="SOSync.Domain.pdb" Source="C:\build\SOSyncU\SOSync.Domain.pdb" />
				<File Id="SQLITEPCLRAW.BATTERIES_V2.DLL" Name="SQLitePCLRaw.batteries_v2.dll" Source="C:\build\SOSyncU\SQLitePCLRaw.batteries_v2.dll" />
				<File Id="SQLITEPCLRAW.CORE.DLL" Name="SQLitePCLRaw.core.dll" Source="C:\build\SOSyncU\SQLitePCLRaw.core.dll" />
				<File Id="SQLITEPCLRAW.PROVIDER.E_SQLITE3.DLL" Name="SQLitePCLRaw.provider.e_sqlite3.dll" Source="C:\build\SOSyncU\SQLitePCLRaw.provider.e_sqlite3.dll" />
				<File Id="SWASHBUCKLE.ASPNETCORE.SWAGGER.DLL" Name="Swashbuckle.AspNetCore.Swagger.dll" Source="C:\build\SOSyncU\Swashbuckle.AspNetCore.Swagger.dll" />
				<File Id="SWASHBUCKLE.ASPNETCORE.SWAGGERGEN.DLL" Name="Swashbuckle.AspNetCore.SwaggerGen.dll" Source="C:\build\SOSyncU\Swashbuckle.AspNetCore.SwaggerGen.dll" />
				<File Id="SWASHBUCKLE.ASPNETCORE.SWAGGERUI.DLL" Name="Swashbuckle.AspNetCore.SwaggerUI.dll" Source="C:\build\SOSyncU\Swashbuckle.AspNetCore.SwaggerUI.dll" />
				<File Id="SYSTEM.CODEDOM.DLL" Name="System.CodeDom.dll" Source="C:\build\SOSyncU\System.CodeDom.dll" />
				<File Id="SYSTEM.CONFIGURATION.CONFIGURATIONMANAGER.DLL" Name="System.Configuration.ConfigurationManager.dll" Source="C:\build\SOSyncU\System.Configuration.ConfigurationManager.dll" />
				<File Id="SYSTEM.DRAWING.COMMON.DLL" Name="System.Drawing.Common.dll" Source="C:\build\SOSyncU\System.Drawing.Common.dll" />
				<File Id="SYSTEM.IO.PIPELINES.DLL" Name="System.IO.Pipelines.dll" Source="C:\build\SOSyncU\System.IO.Pipelines.dll" />
				<File Id="SYSTEM.MANAGEMENT.DLL" Name="System.Management.dll" Source="C:\build\SOSyncU\System.Management.dll" />
				<File Id="SYSTEM.SECURITY.CRYPTOGRAPHY.PROTECTEDDATA.DLL" Name="System.Security.Cryptography.ProtectedData.dll" Source="C:\build\SOSyncU\System.Security.Cryptography.ProtectedData.dll" />
				<File Id="SYSTEM.SECURITY.PERMISSIONS.DLL" Name="System.Security.Permissions.dll" Source="C:\build\SOSyncU\System.Security.Permissions.dll" />
				<File Id="SYSTEM.WINDOWS.EXTENSIONS.DLL" Name="System.Windows.Extensions.dll" Source="C:\build\SOSyncU\System.Windows.Extensions.dll" />
				<File Id="WEB.CONFIG" Name="web.config" Source="C:\build\SOSyncU\web.config" />
			</Component>
		</DirectoryRef>
		<!--As Feature definem o nivel de instalação e os pacotes a qual pertencem, o Level=3 define como Typica e Level=1000 define como Completa para a instalação -->
		<Feature Id="SOSync" Title="SOSync" Description="Sistema completo para gerenciamento de notas." Display="expand" TypicalDefault="install" Level="1">
			<Feature Id="service" Level="3" TypicalDefault="install" Description="Serviço responsável por auxiliar a sincronia do sistema" Title="Serviço" ConfigurableDirectory="SERVICE">
				<ComponentRef Id="SERVICE_COMPONENT"/>
			</Feature>
			<Feature Id="api" Level="1000" Title="Api" ConfigurableDirectory="API" Description="Sistema de webservice">
				<ComponentRef Id="API_COMPONENT"/>
			</Feature>
			<Feature Id="Prog" Level="3" ConfigurableDirectory="PROG" TypicalDefault="install" Description="Programa integração com autosystem" Title="Prog">
				<ComponentRef Id="ConfigFileProg" />
				<ComponentRef Id="ConfigGeneratorProg" />
			</Feature>
		</Feature>
		<Property Id="POWERSHELLEXE">
			<RegistrySearch Id="POWERSHELLEXE" Type="raw" Root="HKLM" Key="SOFTWARE\Microsoft\PowerShell\1\ShellIds\Microsoft.PowerShell" Name="Path" />
		</Property>
		<!--Nesse trexo fica localizado as customAction e a sua execução.-->
		<CustomAction Id="ActionLicenciar" BinaryKey="CustomActions" DllEntry="CustomAction1" Execute="immediate" Return="check" />
		<CustomAction BinaryKey="CustomActions" DllEntry="GetRegister" Execute="immediate" Return="check" Id="ActionRegister" />
		<SetProperty Id="RegisterInstallNET6" Value="&quot;[POWERSHELLEXE]&quot; $(var.scriptPowerShell)" Sequence="execute" Before="InstallFiles" />
		<CustomAction Id="RegisterInstallNET6" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="check" Impersonate="yes" />
		<InstallExecuteSequence>
			<Custom Action="RegisterInstallNET6" After="InstallFiles"><![CDATA[NOT Installed]]></Custom>
		</InstallExecuteSequence>
		<InstallUISequence>
			<Custom Action="ActionRegister" Before="CostFinalize" />
		</InstallUISequence>
	</Product>
</Wix>